@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --primary-color: #fefefe; /* White */
  --secondary-color: #1c1b1b; /* Black */
  --accent-color: #937244; /* Muted gold */
  --text-color: #5a5a5a; /* Dark grey */
  --white-grey-background: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Shop {
  font-family: "Playfair Display", serif;
  background-color: var(--white-grey-background);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.account-icon {
  width: auto;
  height: 3rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.account-icon:hover {
  background-color: var(--text-color);
}

.sub-header {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.body-con {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.login-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .Shop {
    font-size: 14px;
  }
}
