:root {
  --blue-space: #000011;
  --polar-white: #f2f3f5;
  --sahara-sand: #f4dcb9;
  --reef-blue: #2b7ee3;
  --sky-blue: #97c4fb;
  --egyptian-cream: #ebcc9d;
  --french-oak: #668636;
}

@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.forecast-cont {
  position: relative;
  height: 92.5vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--blue-space);
  font-family: "Cutive", serif;
}

.globe-cont {
  width: 100%;
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .terminal-header {
    height: 25px;
    margin-bottom: 10px;
  }

  .terminal-content {
    font-size: 13px;
  }

  .control {
    width: 10px;
    height: 10px;
  }
}

/* iPad and Nest Hub */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .globe-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Smaller tablets */
@media screen and (max-width: 767px) {
}

/* Small phones */
@media screen and (max-width: 380px) {
}
