.n-top-scores-container {
  background: var(--board-background);
  padding: 1rem;
  border-radius: 10px;
  min-width: 200px;
  border: 2px solid var(--alt-text-color);
}

.n-top-scores-title {
  color: var(--alt-text-color);
  text-align: center;
  margin: 0 0 1rem 0;
  font-family: "Playwrite MX", serif;
}

.n-top-scores-list {
  margin: 0;
  padding-left: 2rem;
  font-family: "Playwrite MX", serif;
  color: var(--alt-text-color);
}

.n-top-scores-list li {
  margin-bottom: 0.5rem;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .n-top-scores-container {
    width: 100%;
    max-width: 450px;
    margin: 1rem auto;
  }
}

@media screen and (max-width: 768px) {
  .n-top-scores-container {
    max-width: 350px;
  }
}

@media screen and (max-width: 480px) {
  .n-top-scores-container {
    max-width: 280px;
  }
}
