.BuffyCrossword {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: auto;
  padding-top: 9vh;
  padding-bottom: 9vh;
}
.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr); /* 16 columns */
  grid-template-rows: repeat(20, 1fr); /* 20 rows */
  gap: 0.2%; /* Space between cells */
  width: 60vw; /* Smaller width relative to the viewport */
  max-width: 60%; /* Smaller max-width */
  height: auto;
  max-height: 60vh; /* Smaller max-height */
  aspect-ratio: 16 / 20; /* Maintain the grid aspect ratio */
}

.griddiv {
  aspect-ratio: 1; /* Keeps the cells square */
}

@media (max-width: 600px) {
  .grid {
    width: 80vw; /* Adjust grid to take a smaller width on smaller screens */
  }
}
