/* //Weatherly.css */

:root {
  --polar: #f3f3f3;
  --oceanic: #007c8f;
  --forest: #1d663f;
  --desert: #b3a56e;
  --sky: #94ced4;
  --void: rgb(7, 13, 62);
}

.weatherly {
  height: fit-content;
}

.w-globe {
  width: 100%;

  position: relative;
}

.cesium-viewer {
  width: 100%;
  height: 100%;
}
