:root {
  --polar: #f3f3f3;
  --oceanic: #007c8f;
  --forest: #1d663f;
  --desert: #b3a56e;
  --sky: #94ced4;
  --void: rgb(7, 13, 62);
}

.weatherly {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.w-globe {
  width: 150vw;
  height: 100vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.cesium-viewer {
  width: 150vw;
  height: 100vh;
}

/* Problematic screen sizes */
@media screen and (width: 414px) and (height: 896px),
  /* iPhone XR,
  XS Max */ screen and (width: 390px) and (height: 844px),
  /* iPhone 12,
  13 */ screen and (width: 344px) and (height: 882px),
  /* Surface Duo */ screen and (width: 412px) and (height: 914px),
  /* Pixel 6 Pro */ screen and (width: 430px) and (height: 932px),
  /* iPhone 14 Pro Max */ screen and (width: 360px) and (height: 740px),
  /* Samsung Galaxy S9 */ screen and (width: 412px) and (height: 915px) {
  /* Samsung S20 Ultra */
  .weatherly {
    height: 100vh;
    min-height: -webkit-fill-available;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
  }

  .w-globe {
    width: 340vw;
    height: 100vh;
    min-height: -webkit-fill-available;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  .cesium-viewer {
    width: 340vw;
    height: 100vh !important;
    min-height: -webkit-fill-available;
  }
}

/* Large tablets and foldables (Surface Pro 7, Zenbook Fold) */
@media screen and (min-width: 912px) and (max-width: 1280px) {
  .w-globe {
    width: 300vw;
  }

  .cesium-viewer {
    width: 300vw;
  }
}

/* Regular tablets */
@media screen and (min-width: 768px) and (max-width: 911px) {
  .w-globe {
    width: 300vw;
  }

  .cesium-viewer {
    width: 300vw;
  }
}

/* Large phones and small tablets */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .w-globe {
    width: 300vw;
  }

  .cesium-viewer {
    width: 300vw;
  }
}

/* Small phones */
@media screen and (max-width: 480px) {
  .w-globe {
    width: 340vw;
  }

  .cesium-viewer {
    width: 340vw;
  }
}

/* Landscape mode */
@media screen and (orientation: landscape) and (max-height: 500px) {
  .w-globe {
    width: 150vw;
  }

  .cesium-viewer {
    width: 150vw;
  }
}
