@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap");
/* 
  font-family: "Cormorant Unicase", serif;
  font-weight: 300;
  font-style: normal; */

html,
body {
  height: 10 0%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.Concentration {
  height: 100%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-position: center;
  background-repeat: no-repeat;

  background-size: 80%;
  filter: contrast(1.3);

  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.982),
      rgba(18, 58, 99, 0.598)
    ),
    linear-gradient(45deg, rgba(190, 146, 146, 0.2), rgba(0, 0, 0, 0.2));
}

.game-board {
  perspective: 600px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  width: 60%;
  height: 80%;
  min-width: 30rem;
  /* border: solid black 3px; */
  padding: 1rem 1rem 0.5rem 1rem;
}

.card {
  background-image: url("../../../Images/Games/Concentration/back.png");
  background-position: center;
  background-size: 87%;
  background-repeat: no-repeat;
  /* border-radius: 10px; */
  cursor: pointer;
  user-select: none;
  aspect-ratio: 2 / 3;
}

.card.flipped {
  background-size: cover;
  background-size: 87%;
  background-repeat: no-repeat;
}

.game-controls {
  position: relative;
  padding-top: 0.05%;
  font-size: clamp(0.5rem, 1.4vw, 3rem);
}

.game-controls:hover {
  color: white;
}

.con-btn {
  /* background-image: url("../../../Images/Games/Concentration/sun.png"); */
  height: 1rem;
  font-size: 140%;
  background-position: center;
  background-size: cover;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Cormorant Unicase", serif;
  font-weight: 300;
  font-style: normal;
}

.con-btn:hover {
  color: white;
}

.con-btn::after {
}

.con-btn:hover::after {
  width: 100%;
  left: 0;
}

.con-btn:focus {
  color: #f7f0d9;
}

p {
  font-size: 1.2em;
}
