.Box {
  aspect-ratio: 1; /* Makes the cells square */
  /* box-sizing: border-box; */
  font-size: 1.7vh;
}

.black-box {
  background-color: rgb(0, 0, 0);
  pointer-events: none;
}

.white-box {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: white; /* White color for the white cells */
  position: relative; /* Relative positioning for absolute children */
}

.white-box:hover {
  background-color: rgb(238, 238, 238);
}

.corner {
  font-size: 1vh; /* Font size relative to viewport height */
  min-height: 0.6vh; /* Minimum height relative to viewport height */
  padding: 0.2vh; /* Padding relative to viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Position the corner element absolutely */
  top: 0; /* Position it at the top edge */
  left: 0; /* Position it at the left edge */
  color: #000; /* Black text color for contrast */
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  width: 0.6vw; /* Width relative to viewport width */
  height: 0.6vw; /* Height relative to viewport width */
}

.box-input {
  height: 50%;
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: end;
  font-size: 1.3vh;
  text-align: center;
  font-family: inherit;
  /* border: solid red 1px; */
  border: none;
  outline: none;

  /* text-align: center; */
  text-transform: uppercase;
  background-color: transparent;
  /* width: 2.5rem;
  margin: 2px; */
}
