.Crossword {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 2vh 2vw;
}

.crossword-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  width: 97vw;
}

.buffy-logo {
  filter: brightness(0%);
  /* position: absolute;
  left: 0;
  top: 0; */
}

.questions {
  flex: 1;
  max-width: 40%;
  min-width: 20%;
  padding: 1%;
  margin: 1%;
  border-radius: 8px;
  overflow-y: auto;
}

.q-li {
  font-size: 1.7vh;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: black;
}

.grid-cont {
  flex: 2;
  max-width: 50%;
  min-width: 50%;
  padding: 1rem;
  margin: 1%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent any overflow */
  /* z-index: 100; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr); /* 16 columns */
  grid-template-rows: repeat(16, 1fr); /* 16 rows */
  gap: 0.1rem;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .Crossword {
    flex-direction: column;
    align-items: center;
    padding: 1vh 1vw;
  }

  .questions,
  .grid-cont {
    max-width: 100%;
    min-width: 100%;
    height: 50vh;
  }

  .q-li {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .Crossword {
    padding: 1vh 1vw;
  }

  .questions,
  .grid-cont {
    height: auto;
  }

  .q-li {
    font-size: 1.8rem; /* Further increase font size */
  }
}

.help {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  /* background-color: antiquewhite; */
  height: 25%;
  width: 20%;
  text-align: center;
  background-image: url("../../../Images/Games/Crossword/buffy1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  font-size: 70%;
}

.help-txt {
  /* color: red;
  background-color: black; */
  text-align: start;
  padding-left: 5%;
}

.help:hover {
  color: white;
}
