.Square {
  /* background-color: red; */
  /* height: 2rem; */
  /* width: 2rem; */
  border: black solid 1px;
  aspect-ratio: 1; /* Makes the cells square */
  /* box-sizing: border-box; */
  font-size: 92%;
  color: grey;
}
.black-sq {
  background-color: black;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.white-sq {
  background-color: rgba(255, 255, 255, 0.79);
  height: 100%;
  width: 100%;
}

.corner-num {
  height: 30%;
  width: 30%;
  display: flex;
  padding: 3%;
  justify-content: center;
  font-size: smaller;
  /* background-color: rgb(217, 86, 86); */
  color: black;
  border-right: 1px black solid;
  border-bottom: 1px solid black;
  background-color: white;
}
