@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --pv-bg-color: #121f3d;
  --pv-text-color: #e0e0e0;
  --pv-accent-color: #00b4d8;
  --pv-card-bg: #1e3a5f;
  --pv-hover-color: #48cae4;
}

.pv-light-mode {
  --pv-bg-color: #f0f8ff;
  --pv-text-color: #333333;
  --pv-accent-color: #0077be;
  --pv-card-bg: #ffffff;
  --pv-hover-color: #48cae4;
}

body {
  margin: 0;
  padding: 0;
}

.pv-container {
  font-family: "Kanit", sans-serif;
  width: 100%;

  height: fit-content;
  overflow-y: auto;
  background-color: var(--pv-bg-color);
  color: var(--pv-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.pv-toggle {
  position: fixed;
  top: 8%;
  right: 8%;
  z-index: 1000;
  background-color: var(--pv-accent-color);
  color: var(--pv-bg-color);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  transition: background-color 0.3s;
}

.pv-toggle:hover {
  background-color: var(--pv-hover-color);
}

.pv-title {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--pv-accent-color);
  font-size: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.pv-selector {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.pv-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--pv-card-bg);
  color: var(--pv-text-color);
  border: 1px solid var(--pv-accent-color);
  border-radius: 5px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.pv-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  box-sizing: border-box;
}

.pv-card {
  background-color: var(--pv-card-bg);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 99vw; /* Adjust this value as needed */
  margin: 0 auto 2rem auto;
  /* padding: 1rem; */
}

.pv-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.pv-card-title {
  background-color: var(--pv-accent-color);
  color: var(--pv-bg-color);
  padding: 0.75rem;
  margin: 0;
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}

.pv-date {
  font-style: italic;
  color: var(--pv-text-color);
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid var(--pv-accent-color);
  opacity: 0.7;
  font-size: 0.9rem;
  font-weight: 300;
}

.pv-video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin-bottom: 1rem;
}

.pv-video-container iframe,
.pv-video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pv-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.pv-details {
  padding: 0.75rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pv-heading {
  color: var(--pv-accent-color);
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.pv-notes {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.pv-link {
  color: var(--pv-text-color);
  padding-right: 1rem;
}

.pv-tech {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
  margin-top: auto;
}

.pv-tech-item {
  background-color: var(--pv-bg-color);
  color: var(--pv-text-color);
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 20px;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  border: 1px solid var(--pv-accent-color);
  font-weight: 400;
}

.pv-tech-item:hover {
  background-color: var(--pv-accent-color);
  color: var(--pv-bg-color);
}

@media (max-width: 768px) {
  .pv-title {
    font-size: 1.5rem;
  }

  .pv-card-title {
    font-size: 1.1rem;
  }

  .pv-toggle {
    top: 8%;
    right: 8%;
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  .pv-selector {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .pv-title {
    font-size: 1.3rem;
  }

  .pv-card-title {
    font-size: 1rem;
  }

  .pv-toggle {
    top: 8%;
    right: 8%;
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  .pv-dropdown {
    font-size: 0.9rem;
  }

  .pv-tech-item {
    font-size: 0.7rem;
  }
}
