/* NoughtsAndCrosses.css */
/* font for square's X's and O's */
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
/* font-family: "Rye", serif; */

@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gochi+Hand&family=Platypi:ital,wght@0,300..800;1,300..800&family=Righteous&display=swap");
/* font-family: "Righteous", sans-serif; */

.noughts-and-crosses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  /* margin: 20px; */
  height: 100vh;

  background-image: url("../../../Images/Games/NoughtsAndCrosses/stilllife.png");
  background-position: center;
  background-size: 110%;
  transform: hue;
}

.noughts-title {
  font-family: "Rye", serif;
  text-align: center;
  font-size: 3vw;
  font-weight: 100;
  padding: 4px 0 4px 0;
  color: white;
  /* background-color: rgba(100, 95, 119, 0.617); */
  border: solid white 1px;
  width: 31.35%;
}

.board-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 11.5rem);
  grid-template-rows: repeat(3, 11.5rem);
  gap: 5px;
}

.cell {
  width: 11.5rem;
  height: 11.5rem;
  font-family: "Rye", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white 1px;
  background-color: transparent;
  /* border: none; */
  font-size: 5em;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}

.cell:hover {
  background-color: rgba(69, 55, 55, 0.501);
}

.cell:focus {
  outline: none;
}

.cats-game {
  height: 25rem;
  width: 25rem;
  position: absolute;
  background-image: url("../../../Images/Games/NoughtsAndCrosses/catsGame.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}

.game-info {
  color: white;
  display: flex;
  /* background-color: rgba(64, 63, 68, 0.617); */
  border: solid white 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  font-size: 1.2em;
  font-family: "Righteous", sans-serif;
  width: 31.35%;
}

.game-info p {
  margin: 5px 0;
}
