/* NoughtsAndCrosses.css */
/* font for square's X's and O's */
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
/* font-family: "Rye", serif; */

@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gochi+Hand&family=Platypi:ital,wght@0,300..800;1,300..800&family=Righteous&display=swap");
/* font-family: "Righteous", sans-serif; */

.noughts-and-crosses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-image: url("../../../Images/Games/NoughtsAndCrosses/stilllife.png");
  background-position: center;
  background-size: 110%;
}

.noughts-title {
  font-family: "Rye", serif;
  text-align: center;
  font-size: 3vw;
  font-weight: 100;
  padding: 4px 0 4px 0;
  color: white;
  border: solid white 1px;
  width: 30.4%;
}

.board-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(
    3,
    10vw
  ); /* Each cell takes 30% of viewport width */
  grid-template-rows: repeat(
    3,
    10vw
  ); /* Each cell has the same height as width */
  gap: 0.1vw; /* Gap between cells, scaling with the viewport width */
}

.cell {
  width: 100%; /* Takes full width defined by grid */
  height: 100%; /* Makes height equal to width */
  font-family: "Rye", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white 1px;
  background-color: transparent;
  font-size: 5vw; /* Font size scales with viewport width */
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}

.cell:hover {
  background-color: rgba(69, 55, 55, 0.501);
}

.cell:focus {
  outline: none;
}

.cats-game {
  height: 25rem;
  width: 25rem;
  position: absolute;
  background-image: url("../../../Images/Games/NoughtsAndCrosses/catsGame.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}

.game-info {
  color: white;
  display: flex;
  border: solid white 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  font-size: clamp(1.2vh, 20%, 50%);
  font-family: monospace;
  width: 30.4%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-info p {
  margin: 5px 0;
}
